/* ---- Body ---- */
body {margin: 0 auto; height: 100%; width:100%; -ms-overflow-style: none; cursor: auto; transition: 0.3s ease-out; overflow-x: hidden; max-width: 100%; width: 100%; overscroll-behavior: none;}
.blind {display: none;}
::-webkit-scrollbar {
  display: none;
}

/* ---- Icon ---- */

i {background-repeat: no-repeat; background-position: center; background-size: 100%; position: absolute;}

/* ---- Header ---- */
header {z-index: 100; position: fixed; padding: calc(100vw * 32 /1920); width: 100%; height: calc(100vw * 100 /1920);  background-color: transparent;}
header .gnb__wrap .gnb__1d-wrap {display: flex; justify-content: space-between;}
header .gnb__wrap .gnb__1d-wrap .gnb {display: inline-flex; align-items: center; gap: calc(100vw * 96 /1920);}
header .gnb__wrap .gnb__1d-wrap .gnb li {display: flex;	flex-direction: column; transition: all ease-in-out 0.5s; height: calc(100vw * 30 /1920);}
header .gnb__wrap .gnb__1d-wrap .gnb li a {color: #000; font-family: 'Avenir'; font-size: calc(100vw * 18 /1920); font-style: normal; font-weight: 500; line-height: calc(100vw * 32 /1920); text-transform: uppercase;}
header .gnb__wrap .gnb__1d-wrap .gnb .gnb_logo a {background-image: url('../images/gnb-logo-bk.png'); width: calc(100vw * 248 /1920); height: calc(100vw * 32 /1920); background-repeat: no-repeat; background-position: center; background-size: 100%;}
header .gnb__wrap .gnb__1d-wrap .gnb .gnb_logo a.color1 {background-image: url('../images/gnb-logo-bk.png'); transition: all ease-in-out 0.5s; }
header .gnb__wrap .gnb__1d-wrap .gnb .gnb_logo a.color2 {background-image: url('../images/gnb-logo-bk.png'); transition: all ease-in-out 0.5s; }
header .gnb__wrap .gnb__1d-wrap .language .gnb__language {background-image: url('../images/gnb_language-bk.png'); width: calc(100vw * 134 /1920); height: calc(100vw * 32 /1920); background-repeat: no-repeat; background-position: center; background-size: 100%;}
header .gnb__wrap .gnb__1d-wrap .language .gnb__language.color1 {background-image: url('../images/gnb_language-bk.png');}
header .gnb__wrap .gnb__1d-wrap .language .gnb__language.color2 {background-image: url('../images/gnb_language-bk.png');}


/* ---- footer ---- */
footer {background-color: #fff; color: #000; position: relative;}
footer .footer__wrap {padding: calc(100vw * 240 /1920) calc(100vw * 32 /1920) calc(100vw * 40 /1920);}
footer .footer__wrap .text__wrap .list__wrap {display: flex;}
footer .footer__wrap .text__wrap .list__wrap .title {font-family: 'Avenir'; font-size: calc(100vw * 100 /1920); font-style: normal; font-weight: 500; line-height: calc(100vw * 110 /1920); text-transform: uppercase;}
footer .footer__wrap .text__wrap .list__wrap .list1 {padding-left: calc(100vw * 527 /1920);}
footer .footer__wrap .text__wrap .list__wrap .list2 {padding-left: calc(100vw * 183 /1920);}
footer .footer__wrap .text__wrap .list__wrap ul {display: inline-flex; flex-direction: column; align-items: flex-start; gap: calc(100vw * 32 /1920);}
footer .footer__wrap .text__wrap .list__wrap ul li a {color: #000; font-family:'Arita-dotum'; font-size: calc(100vw * 24 /1920); font-style: normal; font-weight: 300; line-height: normal; text-transform: uppercase;}
footer .footer__wrap .text__wrap .bottom__wrap {display: flex; padding-top: calc(100vw * 75 /1920);}
footer .footer__wrap .text__wrap .bottom__wrap .site {display: inline-flex; align-items: flex-start; gap: calc(100vw * 20 /1920);}
footer .footer__wrap .text__wrap .bottom__wrap .site li a svg {opacity: 0.3; width: calc(100vw * 32 /1920); height: calc(100vw * 32 /1920); }
footer .footer__wrap .text__wrap .bottom__wrap p {padding-left: calc(100vw * 980 /1920);color: #666; font-family: 'Avenir'; font-size: calc(100vw * 16 /1920); font-style: normal; font-weight: 500; line-height: normal; text-transform: uppercase;}

/* ---- sub-wrap ---- */ 
.aboutus-wrap,
.brands-wrap,
.ourculture-wrap,
.commitments-wrap,
.investors-wrap,
.careers-wrap{padding: calc(100vw * 68 /1920) calc(100vw * 32 /1920) 0;} 
/* ---- section1 ---- */
#section1 .text__wrap {padding: calc(100vw * 130 /1920) calc(100vw * 32 /1920) calc(100vw * 130 /1920) ;}
#section1 .text__wrap .title__wrap {display: flex; gap: calc(100vw * 32 /1920);}
#section1 .text__wrap .title__wrap .title {opacity: 0%; transform: translateY(50px); clip-path: polygon(0 0,100% 0,100% 0,0 0%);}
#section1 .text__wrap .title__wrap .title {color: #000; font-family: 'PP Neue Montreal'; font-size: calc(100vw * 110 /1920); font-style: normal; font-weight: 500; line-height: calc(100vw * 160 /1920); text-transform: uppercase;}
#section1 .text__wrap .content__wrap {padding-top: calc(100vw * 10 /1920);}
#section1 .text__wrap .content__wrap .content {opacity: 0%; color: #000; font-family: 'Arita-dotum'; font-size: calc(100vw * 20 /1920); font-style: normal; font-weight: 400; line-height: calc(100vw * 35 /1920); text-transform: uppercase;}
/* ---- section2 ---- */
.sub-wrap #section2 {padding-bottom: calc(100vw * 96/1920); display: flex; flex-direction: column; gap: calc(100vw * 96/1920); border-bottom: calc(100vw * 1 /1920) solid #000;}
.sub-wrap #section2 .scroll__wrap {display: flex; justify-content: space-between; padding-top: calc(100vw * 96/1920); border-top:calc(100vw * 1 /1920) solid #000;}
.sub-wrap #section2 .scroll__wrap .scroll-left {padding-left: calc(100vw * 32 /1920);}
.sub-wrap #section2 .scroll__wrap .scroll-left h5 {display: flex; gap:calc(100vw * 33/1920);}
.sub-wrap #section2 .scroll__wrap .scroll-left h5 span {font-family: 'Arita-dotum'; font-size: calc(100vw * 56/1920); font-style: normal; font-weight: 400; line-height: normal; text-transform: uppercase;}
.sub-wrap #section2 .scroll__wrap .scroll-left h5.eng span {font-family: 'Avenir'; font-size: calc(100vw * 56/1920); font-style: normal; font-weight: 500; line-height: normal; text-transform: uppercase;}
.sub-wrap #section2 .scroll__wrap .scroll-left h5 em {font-family: 'Avenir'; font-size: calc(100vw * 36/1920); font-style:normal; font-weight: 500; line-height: calc(100vw * 56/1920); text-transform: uppercase;}
.sub-wrap #section2 .scroll__wrap .scroll-right {width: calc(100vw * 1080/1920); display: flex; flex-direction: column;}
.sub-wrap #section2 .scroll__wrap .scroll-right .scroll-link>div {display: flex; width: 100%; justify-content: flex-end; margin-bottom: calc(100vw * 40/1920);}
.sub-wrap #section2 .scroll__wrap .scroll-right .scroll-link>div img {width: calc(100vw * 32/1920); height:calc(100vw * 32/1920);}
.sub-wrap #section2 .scroll__wrap .scroll-right .scroll-des {margin-bottom: calc(100vw * 40/1920); font-family: 'Arita-dotum'; font-size: calc(100vw * 24 /1920); font-style: normal; font-weight: 400; line-height: calc(100vw * 36 /1920); text-transform: uppercase;}


/* ---- aboutus-wrap ---- */ 
/* ---- section2 ---- */
.aboutus-wrap #section2 .swiper {width: calc(100vw * 1080 /1920); height: calc(100vw * 640 /1920);}
.aboutus-wrap #section2 .swiper-pagination {height: 0px; position: absolute; top: 0; margin: calc(100vw * 560 /1920) calc(100vw * 32 /1920) 0; display: flex; gap: calc(100vw * 8 /1920);}
.aboutus-wrap #section2 .swiper-pagination .swiper-pagination-bullet {cursor: pointer; margin: 0; border-radius: calc(100vw * 24 /1920); width: calc(100vw * 180 /1920); height: calc(100vw * 48 /1920);}
.aboutus-wrap #section2 .swiper-pagination .swiper-pagination-bullet {background-color: #fff; color: #000; opacity: 1; display: flex; justify-content: center; margin: 0; border-radius: calc(100vw * 24 /1920); width: calc(100vw * 180 /1920); height: calc(100vw * 48 /1920);}
.aboutus-wrap #section2 .swiper-pagination .swiper-pagination-bullet {font-family: 'Arita-dotum'; font-size: calc(100vw * 24 /1920); font-style: normal; font-weight: 400; line-height: calc(100vw * 50 /1920); text-transform: uppercase;}
.aboutus-wrap #section2 .swiper-pagination .swiper-pagination-bullet:hover {background-color: #000; color: #fff;}
.aboutus-wrap #section2 .about-swiper1 .swiper-pagination .swiper-pagination-bullet {font-family: 'Avenir'; font-weight: 350;}
.aboutus-wrap #section2 .about-swiper1 .swiper-pagination .swiper-pagination-bullet:nth-child(1) {width: calc(100vw * 182 /1920);}
.aboutus-wrap #section2 .about-swiper1 .swiper-pagination .swiper-pagination-bullet:nth-child(2) {width: calc(100vw * 204 /1920);}
.aboutus-wrap #section2 .about-swiper1 .swiper-pagination .swiper-pagination-bullet:nth-child(3) {width: calc(100vw * 192 /1920);}
.aboutus-wrap #section2 .about-swiper2 .swiper-pagination .swiper-pagination-bullet:nth-child(1) {width: calc(100vw * 137 /1920);}
.aboutus-wrap #section2 .about-swiper2 .swiper-pagination .swiper-pagination-bullet:nth-child(2) {width: calc(100vw * 198 /1920);}
.aboutus-wrap #section2 .about-swiper3 .swiper-pagination .swiper-pagination-bullet:nth-child(1) {width: calc(100vw * 260 /1920); font-family: 'Avenir'; font-weight: 350;}
.aboutus-wrap #section2 .about-swiper3 .swiper-pagination .swiper-pagination-bullet:nth-child(2) {width: calc(100vw * 165 /1920);}

/* ---- commitments-wrap ---- */ 
/* ---- section3 ---- */
.commitments-wrap #section3 .img__wrap {padding: calc(100vw * 200 /1920) calc(100vw * 32 /1920) 0; display: flex; flex-direction: column; gap: calc(100vw * 200 /1920);}
.commitments-wrap #section3 .img__wrap img {width: 100%; height: 100%;}

/* ---- brands-wrap ---- */ 
/* ---- section3 ---- */
.brands-wrap #section2 .tap__wrap img {padding: 0 calc(100vw * 32 /1920); width: calc(100vw * 1165 /1920); height: calc(100vw * 48 /1920);}
.brands-wrap #section2 .list__wrap {padding: calc(100vw * 40 /1920) calc(100vw * 32 /1920) 0;}
.brands-wrap #section2 .list__wrap .grid__wrap {padding-bottom: calc(100vw * 32 /1920);}
.brands-wrap #section2 .list__wrap .grid__wrap ul {display: grid; grid-template-columns: 1fr 1fr 1fr; gap: calc(100vw * 32 /1920);}
.brands-wrap #section2 .list__wrap .grid__wrap ul li {transition: 0.3s ease-out; display: flex; align-items: center; justify-content: center; border-radius: calc(100vw * 24 /1920); background: #F8F8F8;width: calc(100vw * 576 /1920); height: calc(100vw * 280 /1920);}
.brands-wrap #section2 .list__wrap .grid__wrap ul li img {width: calc(100vw * 288 /1920); height: calc(100vw * 178 /1920); background-repeat: no-repeat; background-position: center; background-size: 100%;}
.brands-wrap #section2 .list__wrap .grid__wrap ul li .text__wrap {display: none;}
.brands-wrap #section2 .list__wrap .grid__wrap ul li .text__wrap h4 {padding-bottom: calc(100vw * 8 /1920); color: #FFF; text-align: center; font-family: 'Arita-dotum'; font-size: calc(100vw * 32 /1920); font-style: normal; font-weight: 400; line-height: calc(100vw * 50 /1920); text-transform: uppercase;}
.brands-wrap #section2 .list__wrap .grid__wrap ul li .text__wrap p {color: #FFF; text-align: center; font-family: 'Arita-dotum'; font-size: calc(100vw * 24 /1920); font-style: normal; font-weight: 400; line-height: calc(100vw * 36 /1920); text-transform: uppercase;}
.brands-wrap #section2 .list__wrap .grid__wrap ul li:hover {background: #57B8FF;}
.brands-wrap #section2 .list__wrap .grid__wrap ul li:hover img {display: none;}
.brands-wrap #section2 .list__wrap .grid__wrap ul li:hover .text__wrap {display: block;}
.brands-wrap #section2 .list__wrap img {width: 100%; height: 100%;}


/* ---- investors-wrap, careers-wrap ---- */ 
/* ---- section2 ---- */
.investors-wrap #section2 .tab__wrap,
.careers-wrap #section2 .tab__wrap {padding: 0 calc(100vw * 32 /1920); display: flex; gap: calc(100vw * 40 /1920);}
.investors-wrap #section2 .tab__wrap .tab,
.careers-wrap #section2 .tab__wrap .tab {opacity: 0.15;}
.investors-wrap #section2 .tab__wrap .tab.active,
.careers-wrap #section2 .tab__wrap .tab.active {opacity: 1;}
.investors-wrap #section2 .tab__wrap .tab:hover,
.careers-wrap #section2 .tab__wrap .tab:hover {opacity: 1;}
.investors-wrap #section2 .tab__wrap .tab a,
.careers-wrap #section2 .tab__wrap .tab a {color: #000; font-family: 'Arita-dotum'; font-size: calc(100vw * 56 /1920); font-style: normal; font-weight: 500; line-height: calc(100vw * 50 /1920); text-transform: uppercase;}

/* ---- investors-wrap ---- */ 
/* ---- section2 ---- */
.investors-wrap #section2 .grid__wrap {padding: calc(100vw * 40 /1920) calc(100vw * 32 /1920) 0;}
.investors-wrap #section2 .grid__wrap .grid {display: grid; gap: calc(100vw * 32 /1920);}
.investors-wrap #section2 .grid__wrap .grid1 {grid-template-columns: 2fr 1fr; padding-bottom: calc(100vw * 32 /1920);}
.investors-wrap #section2 .grid__wrap .grid2 {grid-template-columns: 1fr 1fr 1fr;}
.investors-wrap #section2 .grid__wrap img {opacity: 0; height: calc(100vw * 576 /1920);}
.investors-wrap #section2 .grid__wrap .img1 {width: calc(100vw * 1184 /1920);}

/* ---- careers-wrap ---- */ 
/* ---- section2 ---- */
.careers-wrap #section2 .tab__wrap {padding-bottom: calc(100vw * 64 /1920);}
.careers-wrap #section2 .video__wrap video {border-radius: calc(100vw * 24 /1920); width: 100%; height: 100%;}
/* ---- section3 ---- */
.careers-wrap #section3 .title__wrap .title {padding-bottom: calc(100vw * 24/1920); color: #000; font-family: 'Arita-dotum'; font-size: calc(100vw * 40/1920); font-style: normal; font-weight: 500; line-height: normal; text-transform: uppercase;}
.careers-wrap #section3 .title__wrap .content {color: #000; font-family: 'Arita-dotum'; font-size: calc(100vw * 24/1920); font-style: normal; font-weight: 400; line-height: calc(100vw * 36/1920); text-transform: uppercase;}
.careers-wrap #section3 {padding: calc(100vw * 200/1920) calc(100vw * 32/1920) calc(100vw * 107/1920);}
.careers-wrap #section3 .scroll__wrap {display: flex; justify-content: space-between; padding-top: calc(100vw * 96/1920); height: calc(100vw * 1175/1920);}
.careers-wrap #section3 .scroll__wrap .scroll-left {margin-bottom: 560px;}
.careers-wrap #section3 .scroll__wrap .scroll-left .gif__wrap {width: calc(100vw * 560/1920); height: calc(100vw * 560/1920); background-repeat: no-repeat; background-position: center; background-size: 100%; position: absolute;}
.careers-wrap #section3 .scroll__wrap .scroll-left .gif__wrap.gif1 {background-image: url('../images/careers-gif-01.gif');}
.careers-wrap #section3 .scroll__wrap .scroll-left .gif__wrap.gif2 {background-image: url('../images/careers-gif-02.gif');}
.careers-wrap #section3 .scroll__wrap .scroll-left .gif__wrap.gif3 {background-image: url('../images/careers-gif-03.gif');}
.careers-wrap #section3 .scroll__wrap .scroll-left .gif__wrap.gif4 {background-image: url('../images/careers-gif-04.gif');}
.careers-wrap #section3 .scroll__wrap .scroll-left .gif__wrap.gif5 {background-image: url('../images/careers-gif-05.gif');}
.careers-wrap #section3 .scroll__wrap .scroll-right {width: calc(100vw * 1200/1920);}
.careers-wrap #section3 .scroll__wrap .scroll-right,
.careers-wrap #section3 .scroll__wrap .scroll-right .list__wrap ul {cursor: pointer;}
.careers-wrap #section3 .scroll__wrap .scroll-right .list__wrap ul {border-top: calc(100vw * 1/1920) solid #000;}
.careers-wrap #section3 .scroll__wrap .scroll-right .list__wrap ul li {background-color: #fff; color: #000; padding: calc(100vw * 64 /1920) 0; display: flex; border-bottom: calc(100vw * 1/1920) solid #000;}
.careers-wrap #section3 .scroll__wrap .scroll-right .list__wrap ul li:hover {background-color: #000; color: #fff;}
.careers-wrap #section3 .scroll__wrap .scroll-right .list__wrap ul li .title__wrap {padding-left: calc(100vw * 32 /1920); width: calc(100vw * 530/1920); display: flex; gap:calc(100vw * 16/1920);}
.careers-wrap #section3 .scroll__wrap .scroll-right .list__wrap ul li .title__wrap em {font-size: calc(100vw * 24/1920); font-family: 'Avenir'; font-style: normal; font-weight: 500; line-height: calc(100vw * 55 /1920); text-transform: capitalize;}
.careers-wrap #section3 .scroll__wrap .scroll-right .list__wrap ul li .title__wrap h4 {font-size: calc(100vw * 40/1920); font-family: 'Avenir'; font-style: normal; font-weight: 500; line-height: calc(100vw * 55 /1920); text-transform: capitalize;}
.careers-wrap #section3 .scroll__wrap .scroll-right .list__wrap ul li .text__wrap {padding-top: calc(100vw * 16 /1920);}
.careers-wrap #section3 .scroll__wrap .scroll-right .list__wrap ul li .text__wrap h5 {padding-bottom: calc(100vw * 16 /1920); font-family: 'Arita-dotum'; font-size: calc(100vw * 24/1920); font-style: normal; font-weight: 400; line-height: normal; text-transform: uppercase;}
.careers-wrap #section3 .scroll__wrap .scroll-right .list__wrap ul li .text__wrap p {opacity: 0.6; font-family: 'Arita-dotum'; font-size: calc(100vw * 16/1920); font-style: normal; font-weight: 400; line-height: calc(100vw * 25/1920);}
/* ---- section4 ---- */
.careers-wrap #section4 {padding:calc(100vw * 200/1920) calc(100vw * 32/1920) ;}
/* ---- section5 ---- */
.careers-wrap #section5 {padding: 0 calc(100vw * 32/1920);}
.careers-wrap #section5 .title__wrap {display: flex; justify-content: space-between; align-items: center;}
.careers-wrap #section5 .title__wrap .title {color: #000; font-family: 'Arita-dotum'; font-size: calc(100vw * 40/1920); font-style: normal; font-weight: 500; line-height: normal; text-transform: uppercase;}
.careers-wrap #section5 .title__wrap .site img {width: calc(100vw * 32/1920); height:calc(100vw * 32/1920);}
.careers-wrap #section5 .careers-swiper1 {margin: 0 calc(100vw * -63 /1920); padding: calc(100vw * 40 /1920) calc(100vw * 258 /1920) 0 calc(100vw * 63 /1920);}
.careers-wrap #section5 .careers-swiper1 .swiper-wrapper {gap: calc(100vw * 32/1920);}
.careers-wrap #section5 .careers-swiper1 .swiper-wrapper,
.careers-wrap #section5 .careers-swiper1 .swiper-wrapper .swiper-slide {cursor: grab; gap: calc(100vw * 32/1920);}
.careers-wrap #section5 .careers-swiper1 .swiper-wrapper .swiper-slide img {width: calc(100vw * 400/1920);}
.careers-wrap #section5 .careers-swiper1 .swiper-wrapper .swiper-slide {width: calc(100vw * 400/1920); height:calc(100vw * 433/1920);}
