.sec1{
    width: 100%;
    height: 178px;
    padding: 60px 0 36px;
    margin-top: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.sec1 h2{
    color: #131313;
    font-size: 48px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 15px;
    animation: text_spacing 1s forwards ease-in-out;
}
@keyframes text_spacing{
    0%{letter-spacing: 15px;}
    100%{letter-spacing: 9.6px;}
}
.sec2{
    width: 100%;
    height: 500px;
    position: relative;
    margin: 0 auto;
}
.sec2>img{
    height: 100%;
    text-align: center;
}
.sec2 .text_wrap{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.sec2 .text_wrap .cont{
    width: 310px;
    height: 204px;
    overflow: hidden;
    margin: 42px 0 35px;
}
.sec2 .text_wrap .cont img{
    width: 100%;
    opacity: 0;
    padding-top: 50px;
}
.sec2 .text_wrap .btn{
    width: 150px;
    height: 42px;
    overflow: hidden;
}
.sec2 .text_wrap .btn img{
    height: 100%;
    opacity: 0;
    padding-top: 50px;
}
@keyframes text_up {
    0%{padding-top: 50px; opacity: 0;}
    50%{opacity: 0;}
    100%{padding-top: 0px; opacity: 1;}
}
.sec3{
    width: 100%;
    height: 480px;
    box-sizing: border-box;
    transition: padding 0.8s ease-in-out;
    position: relative;
}
.sec3>img{
    height: 100%;
}
.sec3 .text_wrap{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.sec3 .text_wrap .title{
    width: 93px;
    height: 55px;
}
.sec3 .swiper2{
    max-width: 360px !important;
    margin: 57px 0;
}
.sec3 .swiper-wrapper{
    margin: 0 20px;
}
.sec3 .swiper2 .swiper-slide{
    max-width: 275px !important;
}
.sec3 .text_wrap .btn{
    width: 150px;
    height: 42px;
    overflow: hidden;
}
.sec3 .text_wrap .btn img{
    height: 100%;
    opacity: 0;
    padding-top: 50px;
}
.sec4{
    padding: 40px 0 139px;
    margin: 0 auto;
    max-width: 360px;
}
.sec4 .swiper1{
    margin: 0 calc(100vw * 160 / 1920);
    width: 100vw;
    max-width: 360px;
}
.swiper1 .img_slide{
    position: relative;
    max-width: 300px !important;
    width: 300px !important;
    height: 420px !important;
}
.swiper1 .img_slide>img{
    width: 300px;
    height: 420px;
}
.swiper1 .swiper-slide-active p{
    animation: text_ani 1.5s ease-in-out forwards;
    animation-delay: 1500ms;
}
.swiper1 .swiper-slide-active .text_wrap{
    animation: text_ani 0.8s ease-in-out forwards;
    animation-delay: 1000ms;
}
@keyframes text_ani {
    0%{padding-left: 200px; opacity: 0;}
    100%{padding-left: 0px; opacity: 1;}
}
.swiper1 .text_wrap{
    position: absolute;
    bottom: -79px;
    left: 16px;
    padding-left: 200px;
    opacity: 0;
}
.swiper1 .text_wrap h2{
    text-align: left;
    font-size: 32px;
    font-weight: 600;
    line-height: 100%;
    margin-bottom: 32px;
}
.swiper1 .text_wrap .btn_wrap{
    display: flex;
    gap: 16px;
}
footer{
    margin-top: 0px;
}