.sec1{
    position: relative;
    width: 1800px;
    height: 486px;
    margin: 64px auto;
    margin-top: 160px;
}
.sec1 .back{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: opacity 1.5s ease-in-out;
}
@keyframes opacity {
    0%{opacity: 0;}
    100%{opacity: 1;}
}
.sec1 .text{
    text-align: center;
    font-size: 120px;
    font-weight: 500;
    line-height: normal;
    overflow: hidden;
    height: 144px;
}
.sec1 .text p{
    transform-origin: left center;
}
.sec1 .text + .text{
    margin-top: 27px;
}
.sec1 .text1{
    color: #131313;
    letter-spacing: 42px;
    animation: text1 1s ease-in-out forwards;
    animation-delay: 1.5s;
    opacity: 0;
}
.sec1 .text2{
    color: #1C2544;
    letter-spacing: 30px;
    animation: text2 1s ease-in-out forwards;
    animation-delay: 1.5s;
    opacity: 0;
}
.sec1 .text3{
    letter-spacing: 18px;
    animation: text3 1s ease-in-out forwards;
    animation-delay: 1.5s;
    opacity: 0;
}
@keyframes text1 {
    0%{ letter-spacing: 80px; opacity: 0;}
    100%{ letter-spacing: 42px; opacity: 1;}
}
@keyframes text2 {
    0%{ letter-spacing: 80px; opacity: 0;}
    100%{ letter-spacing: 30px; opacity: 1;}
}
@keyframes text3 {
    0%{ letter-spacing: 40px; opacity: 0;}
    100%{ letter-spacing: 18px; opacity: 1;}
}
.sec2{
    padding: 64px 60px;
    margin: 0 auto;
    transition: padding 0.8s ease-in-out;
}
.sec2 .swiper1{
    position: relative;
    width: 100%;
    height: calc(120vw);
    max-height: 720px;
    overflow: hidden;
}
.sec2 .swiper1 .img_slide img{
    padding: 0 60px;
    box-sizing: border-box;
    width: 100vw;
    height: calc(120vw);
    max-height: 720px;
    filter: brightness(70%);
}
.sec2 .swiper1 .img_slide:nth-of-type(1){
    background-image: url(../img/sec2_img1.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}
.sec2 .swiper1 .img_slide:nth-of-type(2){
    background-image: url(../img/sec2_img2.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}
.sec2 .swiper1 .img_slide:nth-of-type(3){
    background-image: url(../img/sec2_img3.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}
.sec2 .img_slide .text_wrap{
    position: absolute;
    top: 249px;
    left: 160px;
    color: #FFF;
    width: 602px;
    padding-left: 100px;
    opacity: 0;
}
.sec2 .swiper-slide-active .text_wrap{
    animation: paddingL 1.2s ease-in-out forwards;
    animation-delay: 1200ms;
}
@keyframes paddingL {
    0%{padding-left: 100px; opacity: 0;}
    100%{padding-left: 0px; opacity: 1;}
}
.text_wrap h2{
    font-size: 60px;
    font-weight: 500;
    line-height: normal;
}
.text_wrap p{
    margin-top: 24px;
    font-size: 24px;
    font-weight: 300;
    line-height: 150%;
}
.swiper1 .swiper-button-prev{
    position: absolute;
    top: 501px;
    left: 160px;
    width: 64px;
    height: 64px;
    background-image: url(../img/btn_prev_w.svg);
}
.swiper1 .swiper-button-next{
    position: absolute;
    top: 501px;
    left: 248px;
    width: 64px;
    height: 64px;
    background-image: url(../img/btn_next_w.svg);
}
.swiper1 .swiper-button-prev::after,
.swiper1 .swiper-button-next::after{
    content: none;
}
.swiper1 .scroll_wrap{
    position: absolute;
    display: flex;
    justify-content: space-between;
    gap: 10px;
    top: 178px;
    left: 160px;
    color: #FFF;
    font-size: 24px;
    font-weight: 600;
    line-height: normal;
    height: 29px;
}
.swiper1 .swiper-pagination{
    display: flex;
    gap: 240px;
    position: relative;
    top: 50%;
    bottom: 50%;
    transform: translate(0, -50%);
}
.swiper1 .bar_wrap{
    position: absolute;
    top: 50%;
    bottom: 50%;
    margin-left: 24px;
    width: 220px;
    height: 3px;
    transform: translate(0, -50%);
    background-color: #D9D9D940;
    z-index: 5;
}
.swiper1 .bar_wrap .bar{
    background-color: #D9D9D9;
}
.swiper1 .bar_wrap .bar svg{
    --progress: 0;
	position: absolute;
	left: 0;
	top: 0;
	z-index: 10;
	width: 100%;
	stroke-width: 3px;
	stroke: #D9D9D9;
	fill: none;
	stroke-dashoffset: calc(100 * (1 - var(--progress)));
	stroke-dasharray: 100;
}
.sec3{
    position: relative;
    max-width: 1920px;
    padding: 64px 0;
    margin: 0 auto;
}
.sec3 h2{
    color: #131313;
    margin-left: 100px;
    font-size: 84px;
    font-weight: 500;
    line-height: normal;
}
.sec3 .swiper2{
    overflow: hidden;
}
.swiper2 .button{
    position: absolute;
    display: flex;
    gap: 24px;
    top: 210px;
    right: 160px;
}
.swiper2 .swiper-button-prev{
    position: static;
    width: 64px;
    height: 64px;
    background-image: url(../img/btn_prev_b.svg);
}
.swiper2 .swiper-button-next{
    position: static;
    width: 64px;
    height: 64px;
    background-image: url(../img/btn_next_b.svg);
}
.swiper2 .swiper-button-prev::after,
.swiper2 .swiper-button-next::after{
    content: none;
}
.swiper2 .swiper-wrapper{
    margin-top: 96px !important;
}
.swiper2 .img{
    position: relative;
    width: 460px;
    height: 727px;
}
.swiper2 .img_slide{
    width: 460px;
}
.swiper2 .img_dim{
    display: none;
    flex-direction: column;
    padding: 160px 0 168px;
    box-sizing: border-box;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #0000004d;
    animation: dim 0.8s ease-in-out forwards;
}
@keyframes dim{
    0%{padding-top:215px}
    100%{padding-top:160px;}
}
.swiper2 .img_dim img:nth-child(1){
    width: fit-content;
}
.swiper2 .img_dim img:nth-child(2){
    width: 169px;
}
.sec3 .btn_more{
    display: flex;
    justify-content: center;
    margin-top: 48px;
}
.sec3 .btn_more img{
    width: 205px;
}
.sec4{
    max-width: 1920px;
    margin: 0 auto;
    padding: 64px 0;
}
.swiper3{
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 1096px;
    color: #FFF;
}
.swiper3 h2{
    position: absolute;
    top: 120px;
    left: 160px;
    font-size: 84px;
    font-weight: 500;
    line-height: normal;
    z-index: 5;
}
.swiper3 .img_slide img{
    height: 100%;
    z-index: 1;
}
.swiper3 .img_slide:nth-of-type(1){
    background-image: url(../img/sec4_back1.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}
.swiper3 .img_slide:nth-of-type(2){
    background-image: url(../img/sec4_back2.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}
.swiper3 .img_slide:nth-of-type(3){
    background-image: url(../img/sec4_back3.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}
.swiper3 .img_slide:nth-of-type(4){
    background-image: url(../img/sec4_back4.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}
.swiper3 .img_slide:nth-of-type(5){
    background-image: url(../img/sec4_back5.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}
.swiper3 .text_wrap{
    position: absolute;
    top: 438px;
    left: 160px;
    width: 489px;
    z-index: 5;
    padding-left: 100px;
    opacity: 0;
}
.swiper3 .swiper-slide-active .text_wrap{
    animation: paddingL 1.2s ease-in-out forwards;
    animation-delay: 1200ms;
}
.swiper3 .text_wrap h3{
    font-size: 60px;
    font-weight: 500;
    line-height: normal;
}
.swiper3 .text_wrap p{
    font-size: 24px;
    font-weight: 400;
    line-height: 150%
}
.swiper3 .swiper-button-prev{
    position: absolute;
    top: 648px;
    left: 160px;
    width: 64px;
    height: 64px;
    background-image: url(../img/btn_prev_w.svg);
}
.swiper3 .swiper-button-next{
    position: absolute;
    top: 648px;
    left: 248px;
    width: 64px;
    height: 64px;
    background-image: url(../img/btn_next_w.svg);
}
.swiper3 .swiper-button-prev::after,
.swiper3 .swiper-button-next::after{
    content: none;
}
.swiper3 .scroll_wrap{
    position: absolute;
    display: flex;
    justify-content: space-between;
    gap: 10px;
    top: 367px;
    left: 160px;
    color: #FFF;
    font-size: 24px;
    font-weight: 600;
    line-height: normal;
    height: 29px;
}
.swiper3 .swiper-pagination{
    display: flex;
    gap: 240px;
    position: relative;
    top: 50%;
    bottom: 50%;
    transform: translate(0, -50%);
}
.swiper3 .bar_wrap{
    position: absolute;
    top: 50%;
    bottom: 50%;
    margin-left: 24px;
    width: 220px;
    height: 3px;
    transform: translate(0, -50%);
    background-color: #D9D9D940;
    z-index: 5;
}
.swiper3 .bar_wrap .bar{
    background-color: #D9D9D9;
}
.swiper3 .bar_wrap .bar svg{
    --progress: 0;
	position: absolute;
	left: 0;
	top: 0;
	z-index: 10;
	width: 100%;
	stroke-width: 3px;
	stroke: #D9D9D9;
	fill: none;
	stroke-dashoffset: calc(100 * (1 - var(--progress)));
	stroke-dasharray: 100;
}
.swiper3 .img_cont{
    filter: brightness(50%);
}
.swiper3 .img_list{
    display: flex;
    justify-content: space-between;
    position: absolute;
    top: 838px;
    left: 50%;
    transform: translate(-50%, 0);
    width: 1148px;
    height: 152px;
}
.swiper3 .img_item{
    position: relative;
    width: 269px;
    height: 152px;
}
.swiper3 .img_item .img_dim{
    display: none;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 6px;
    background: #00000080;
    z-index: 5;
    width: 100%;
    height: 100%;
    font-size: 16px;
    font-weight: 600;
    line-height: normal;
}
.swiper3 .img_item .img_dim img{
    width: 24px;
}
.sec5{
    max-width: 1920px;
    margin: 0 auto;
    position: relative;
    padding: 64px 0;
}
.sec5 h2{
    color: #131313;
    margin-left: 100px;
    font-size: 84px;
    font-weight: 500;
    line-height: normal;
}
.sec5 .swiper4{
    overflow: hidden;
}
.swiper4 .button{
    position: absolute;
    display: flex;
    gap: 24px;
    top: 210px;
    right: 160px;
}
.swiper4 .swiper-button-prev{
    position: static;
    width: 64px;
    height: 64px;
    background-image: url(../img/btn_prev_b.svg);
}
.swiper4 .swiper-button-next{
    position: static;
    width: 64px;
    height: 64px;
    background-image: url(../img/btn_next_b.svg);
}
.swiper4 .swiper-button-prev::after,
.swiper4 .swiper-button-next::after{
    content: none;
}
.swiper4 .swiper-wrapper{
    margin-top: 96px !important;
}
.swiper4 .img_slide{
    width: 460px;
}
.swiper4 .cont_wrap{
    display: flex;
    box-sizing: border-box;
    width: 460px;
    height: 666px;
    padding: 24px 24px 102px 24px;
    flex-direction: column;
    align-items: center;
    border: 1px solid #DDD;
}
.cont_wrap img{
    width: 412px;
    height: 350px;
}
.cont_wrap h3{
    color: #1C2544;
    margin-top: 37px;
    font-size: 24px;
    font-weight: 600;
    line-height: 150%;
}
.cont_wrap .line{
    width: 28px;
    border-top: 2px solid #1C2544;
    margin: 6px 0 15px 0;
}
.cont_wrap p{
    text-align: center;
    font-size: 18px;
    font-weight: 500;
    line-height: 150%;
}
.swiper4 .img_dim img:nth-child(1){
    width: 200px;
}
.swiper4 .img_dim img:nth-child(2){
    width: 169px;
}
.sec5 .btn_more{
    display: flex;
    justify-content: center;
    margin-top: 48px;
}
.sec5 .btn_more img{
    width: 205px;
}