/* @font-face {
  font-family: "APHQ";
  font-weight: 400;
  src: url("../fonts/APHQHangeul.otf") format("opentype");
}
@font-face {
  font-family: "Avenir";
  font-weight: 400;
  src: url("../fonts/AvenirLTStd-Book.otf") format("opentype");
}
@font-face {
  font-family: "Avenir";
  font-weight: 500;
  src: url("../fonts/AvenirLTStd-Roman.otf") format("opentype");
}
@font-face {
  font-family: "Avenir";
  font-weight: 700;
  src: url("../fonts/AvenirLTStd-Black.otf") format("opentype");
} */
@font-face {
  font-family: "Arita-dotum";
  font-weight: 200;
  src: url(../fonts/Arita4.0_T.otf) format("opentype");
}
@font-face {
  font-family: "Arita-dotum";
  font-weight: 300;
  src: url(../fonts/Arita4.0_L.otf) format("opentype");
}
@font-face {
  font-family: "Arita-dotum";
  font-weight: 400;
  src: url(../fonts/Arita4.0_M.otf) format("opentype");
}
@font-face {
  font-family: "Arita-dotum";
  font-weight: 500;
  src: url(../fonts/Arita4.0_SB.otf) format("opentype");
}
@font-face {
  font-family: "Arita-dotum";
  font-weight: 700;
  src: url(../fonts/Arita4.0_B.otf) format("opentype");
}
/* @font-face {
  font-family: "PPHattonBold";
  src: url(../font/PPHatton-Bold.woff) format("woff");
}
@font-face {
  font-family: "PPHattonBoldItalic";
  src: url(../font/PPHatton-BoldItalic.woff) format("woff");
}
@font-face {
  font-family: "PPHattonMedium";
  src: url(../font/PPHatton-Medium.woff) format("woff");
}
@font-face {
  font-family: "PPHattonItalic";
  src: url(../font/PPHatton-MediumItalic.woff) format("woff");
}
@font-face {
  font-family: "PPHattonUltralightItalic";
  src: url(../font/PPHatton-UltralightItalic.woff) format("woff");
} 
*/
@font-face {
  font-family: "PPHattonMedium";
  src: url(../font/PPHatton-Medium.woff) format("woff");
}
@font-face {
  font-family: "PPHattonUltralight";
  src: url(../font/PPHatton-Ultralight.woff) format("woff");
}

